.sidebar {
    position: relative;
    width: 250px;
    transition: width 0.3s;
  }
  
  .sidebar-collapsed {
    width: 30px;
  }
  
  .sidebar-collapsed .nav-link {
    text-align: center;
    padding: 0.75rem;
  }
  
  .sidebar-collapsed .nav-link i {
    margin-right: 0;
  }
  
  .sidebar-collapsed .nav-link span {
    display: none;
  }
  
  .sidebar-collapsed .fs-4 {
    display: none;
  }
  
  .sidebar-collapsed .text-center h6 {
    display: none;
  }
  
  .sidebar-collapsed .btn-primary {
    position: absolute;
    top: 10px;
    left: 65px;
    z-index: 1000;
    transition: left 0.3s;
  }
  
  .sidebar .btn-primary {
    display: none;
  }
  
  .sidebar-collapsed .btn-primary {
    display: block;
  }