@import url('https://startbootstrap.github.io/startbootstrap-clean-blog/css/styles.css');

/* body {
  color: white;
  background-color: #000;
} */

/* .card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.form-control:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
} */